:root {
    --nav-height: 13vh;
  }

.navbar{
    background-color: #f8f9fa;
    height: var(--nav-height);
    width: 100vw;
}

.nav-container{
    background-color: white;
}

.navbar form{
    width: calc(100% - 16px - 50px - 50px);
}

.navbar .search{
    background-color: #e5e5e5;
    width: 100%;
    border-radius: 5px;
}

.navbar i{
    color: #5b5858;
}
.navbar .fa-question{
    background-color: #5b5858;
    border-radius: 50%;
    color: white;
    padding: 3px 5px;
}
.navbar .fa-bell{
    color: #ff8f00;
}

.mobile-hidden{
    display: none;
}

.body{
    width: 100vw;
    height: calc(100vh - var(--nav-height));
}

.main{
    height: calc(100vh - var(--nav-height));
    overflow-y: scroll;
}

.sidebar{
    height: calc(100vh - var(--nav-height));
    background-image: url(img/sidebar-bg.png);
    background-color: #051e34;
    color: white;
}

.header{
    background-color: #1b72e8;
    color: white;
}

.header .badge{
    background-color: #165bba;
}

.bg-grey{
    background-color: #e5e5e5;
}

#submit{
    background-color: #0d6efd;
    color: white;
    width: 100px;
}

#cancel{
    background-color: #ffc107;
    color: white;
    width: 100px;
}

@media screen and (min-width: 992px) {
    .mobile-hidden{
        display: initial;
    }
    .mobile-show{
        display: none;
    }
    
    .navbar form{
        width: calc(100% - 64px - 200px - 100px);
    }
}

